@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  font-size: 62.5%;
  font-family: sans-serif;
}

// container for the sign in and sign up registration
.reg-container {
  margin: auto;
  max-width: 40rem;
  height: 40rem;
  background-color: #90B1D9;
  position: relative;
  top: 15vh;
  border-radius: 8%;
}

// container to format the sign in and sign up forms inside the regular reg-container
.inside-container {
  margin: auto;
  position: relative;
  top: 5rem;
  // background-color: red;
  width: 30rem;
  height: 30rem;
}

// sign up and sign in h3 tag class
.sign-heading {
  font-size: 3rem;
  margin: 1rem 1rem;
  text-align: center;
}

// class for the input boxes for sign up and sign in
.auth-input-box {
  margin-top: 2px;
  padding: 5px 0 5px 0;
  width: 30rem;
  border: 1px solid black;
  border-radius: 3px;
}

// class for the buttons used for sign in and sign up
.auth-input-button {
  width: 30rem;
  margin-top: 2px;
  padding: 5px 0 5px 0;
}

.after-sign-in {
  display: grid;
  grid-template-columns: 20rem auto;
  grid-template-rows: 10rem auto;
  height: 100vh;
  width: 100vw;
}

.navbar {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #1C0A93;
}

// container for the sidebar info
.sidebar-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  background-color: #1D7CF0;
}

// container to use to center all the forms and buttons used to create a quiz.
.quiz-template-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 10rem auto 10rem;
  grid-template-rows: 5rem auto 2rem;
  background-color: #90B1D9;
}

// The main header of the page
#main-header {
  text-align: center;
  font-size: 4rem;
  color: white;
}

#second-heading {
  font-size: 3rem;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;

}

// container for just the create quiz forms
.create-quiz-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}

// create quiz class for the form
.create-quiz {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// updating quiz class for the form
.update-quiz {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// title Input for the create quiz form
#create-quiz-input {
  padding: 1rem;
}

// button to submit the create quiz form
#create-quiz-submit {
  padding: 1rem;
}

#update-quiz-title {
  padding: 1rem;
}

#update-quiz-submit {
  padding: 1rem;
}

#show-quiz-display {
  display: flex;
  flex-direction: column;
}

#show-quiz-title {
  text-align: center;
  font-size: 3rem
}

#show-quiz-description {
  text-align: center;
  font-size: 1.5rem;
}

.create-question {
  display: flex;
  flex-direction: column;

  & input {
    padding: 1rem;
  }

  & button {
    padding: 1rem;
  }
}

// button to index the quizes
.index-quiz {
  width: 100%;
  padding: .8rem;
}

// text displayed from index
.index-text {
  color: white;
}

.change-password-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.change-password-show {
  width: 100%;
  height: 3rem;
}

.sign-out {
  width: 100%;
  height: 3rem;
}
